@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-green {
  padding: 1rem;
  margin-top: 1.5rem;
  color: #fff;
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.form-width {
  width: 50%;
  border: 1px solid #4CAF50;
}

.dashboardContent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 2rem;
  clear: both;
}

.dashNav {
  position: sticky;
  top: 10%;
}

.dashboardContent h4 {
  grid-column: 1 / 7;
  border-bottom: 3px solid #dee2e6;
  padding: 1rem;
}

.dashboardContent .content {
  grid-column: 2 / 7;
  border-left: 1px solid #dee2e6;
  padding: 1rem;
  /* overflow: auto; */
}

/* .dashboardContent .content::after {
  clear: both;
  content: "";
  display: block;
} */

.dashboardContent .content header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.dashboardContent .content header h6 {
  grid-column: 1 / 6;
}

.dashboardContent .banner {
  width: 100%;
  margin-top: 1rem;
  height: 30%;
}

.dashboardContent .banner img {
  width: 100%;
  object-fit: cover;
  height: 6rem;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
}

.show {
  display: block;
}

.dashNav .currentpage {
  background-color: #212529;
  color: #dadee2;
}

.editDisplay table tr td:first-of-type {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

.editDisplay table tr {
  border: 1px solid #dee2e6;
}

.editDisplay> table > tr > td:first-of-type:hover {
  color: #fff;
  background-color: #000;
}

.editDisplay> table > tr > td:first-of-type {
  border: 1px solid #dee2e6;
}

.editDisplay table tr td:last-of-type table tr td:nth-of-type(1) p {
  width: 1.5rem;
  margin: 0;

}

.editDisplay table tr td:last-of-type table tr td:nth-of-type(1), .editDisplay table tr td:last-of-type table tr td:nth-of-type(2) {
  border-right: 1px solid #dee2e688;
}

.editDisplay table tr td:last-of-type table tr td:nth-of-type(2) p {
  width: 38vw;
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 0.5rem;
}

@media only screen and (min-width: 900px) {
  .editDisplay table tr td:last-of-type table tr td:nth-of-type(3) {
    width: 10rem;
    overflow: hidden;
  }
}

.editDisplay table tr td:last-of-type table tr td:nth-of-type(3) p {
  width: 15vw;
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 0.5rem;
}

.editDisplay table tr td {
  cursor: pointer;
}

.editDisplay table tr td:last-of-type table tr:hover {
  color: #0d6efd;
}

.search {
  float: right;
}

.randomQuote {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
}

.randomQuote button {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  width: 40%;
  box-shadow: 0 20px 25px -5px #dee2e6, 0 8px 10px -6px #dee2e6;
}

.api {
  margin: 5rem auto;
  border: 1px solid #dee2e6;
  width: 90%;
  padding: 0.5rem;
}

.api ul {
  list-style: none;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.api p {
  font-size: 0.8rem;
  text-align: justify;
}
.hero{
  margin: 0 auto;
  text-align: center;
  position: sticky;
  z-index: -1;
  top: 10px;
}

.hero p {
  padding: 0.5rem;
}

.hero img {
  width: 100%;
}

.back {
  background-color: #fff;
}

h1 {
  margin: 1rem;
}
